<mat-toolbar style="border-bottom: inset;">
    <div style="padding-right: 1rem;"><button mat-icon-button (click)="opened= !opened" ><mat-icon>menu</mat-icon></button></div>
    <div style="padding-right: 1rem;"><a mat-button [routerLink]="['/']" routerLinkActive="router-link-active"><img [src]="url" alt="logo"></a></div>
    <div>
        <button mat-icon-button style="padding-right:0px; margin-left: 70px; " (click)=onSubmit(search) type="submit"><mat-icon>search</mat-icon></button>
    </div>
    <div>
        <form #userForm = "ngForm">
            <input type="text" class="form-control google-search" name="q" required [(ngModel)]="search" style="width: 780px; border-radius: 10px; height: 45px; margin-left: -50px; background-color: #f0f5f5; text-align: center;" placeholder="Search mail">
        </form>
    </div>
    <div><button mat-button style="margin-left: 60px;"><mat-icon>help_outline</mat-icon></button></div>
    <div><button mat-button><mat-icon>apps</mat-icon></button></div>
    <div><button mat-button><mat-icon>account_circle</mat-icon></button></div>
</mat-toolbar>

<mat-sidenav-container fullscreen>
    <mat-sidenav [(opened)] = "opened" mode="side" >
        <br>
        <button mat-raised-button style="border-radius:40px; padding: 7px; width:150px ;" ><mat-icon>add</mat-icon>Compose</button>
        <br><br>
        <div class=mr_scroll style="padding: 5px;">
            <button mat-button style="width :240px; text-align: left; border-radius:40px;"><mat-icon> inbox</mat-icon> Inbox </button>
            <br>
            <button mat-button style="width :240px; text-align: left; border-radius:40px;"><mat-icon> star</mat-icon>Starred</button>
            <br>
            <button mat-button style="width :240px; text-align: left; border-radius:40px;"><mat-icon> watch_later</mat-icon> Snoozed</button>
            <br>
            <button mat-button style="width :240px; text-align: left; border-radius:40px;"><mat-icon> send</mat-icon>Sent</button>
            <br>
            <button mat-button style="width :240px; text-align: left; border-radius:40px;"><mat-icon> insert_drive_file</mat-icon>Drafts</button>
            <br>
            <button *ngIf="!this.show" mat-button style="width :240px; text-align: left; border-radius:40px;" (click)="show = !show"><mat-icon>arrow_drop_down</mat-icon> More</button>
            <div class="yourCssClass" *ngIf="this.show">
                <button *ngIf="this.show" mat-button style="width :240px; text-align: left; border-radius:40px;" (click)="show = !show"><mat-icon>arrow_drop_up</mat-icon> Less</button>
                <br>
                <button mat-button style="width :240px; text-align: left; border-radius:40px;"><mat-icon>label_important</mat-icon>Important</button>
                <br>
                <button mat-button style="width :240px; text-align: left; border-radius:40px;"><mat-icon>duo</mat-icon>Chats</button>
                <br>
                <button mat-button style="width :240px; text-align: left; border-radius:40px;"><mat-icon>cancel_schedule_send</mat-icon>Scheduled</button>
                <br>
                <button mat-button style="width :240px; text-align: left; border-radius:40px;"><mat-icon>mail</mat-icon>All Mail</button>
                <br>
                <button mat-button style="width :240px; text-align: left; border-radius:40px;"><mat-icon>report</mat-icon>Spam</button>
                <br>                                                            
                <button mat-button style="width :240px; text-align: left; border-radius:40px;"><mat-icon>delete</mat-icon>Bin</button>
                <br>
                <button mat-button style="width :240px; text-align: left; border-radius:40px;"><mat-icon>label</mat-icon>Categories</button>
                <br>
                <button mat-button style="width :240px; text-align: left; border-radius:40px;"><mat-icon>settings</mat-icon>Manage labels</button>
                <br>
                <button mat-button style="width :240px; text-align: left; border-radius:40px;"><mat-icon>add</mat-icon>Create labels</button>
                </div>
        </div>
        <br>
        <button mat-button style="width :240px; text-align: left; border-radius:40px;"><mat-icon>account_circle</mat-icon><mat-icon>arrow_drop_up</mat-icon>XYZ_PROFILE</button>

    </mat-sidenav>

    

    <mat-sidenav-content >
        <mat-toolbar style="border-bottom: inset; height: 50px;">
            <div><mat-checkbox [(ngModel)]="checked" matTooltip="Select"></mat-checkbox></div>
            <div><button mat-icon-button [matMenuTriggerFor]="menu" ><mat-icon>arrow_drop_down</mat-icon></button></div>
            <div><button mat-icon-button matTooltip="Refresh" (click)="openSnackBar('Loading.....',' ')"><mat-icon>refresh</mat-icon></button></div>
            <div><button mat-icon-button [matMenuTriggerFor]="menu2" matTooltip="More" ><mat-icon>more_vert</mat-icon></button></div>
            <div><button mat-icon-button matTooltip="Newer" style="margin-left: 700px;"><mat-icon>navigate_before</mat-icon> </button></div>
            <div><button mat-icon-button matTooltip="Older"><mat-icon>navigate_next</mat-icon> </button></div>
            <div><button mat-icon-button [matMenuTriggerFor]="menu3" matTooltip="Settings"><mat-icon>settings</mat-icon> </button></div>

        </mat-toolbar>

        <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>inbox</mat-icon>
                Primary
              </ng-template>
              Content 1
            </mat-tab>
          
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>people_alt</mat-icon>
                Social
              </ng-template>
              Content 2
            </mat-tab>
          
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>local_offer</mat-icon>
                Promotions
              </ng-template>
          
              Content 3
            </mat-tab>
          </mat-tab-group>
          


    </mat-sidenav-content>

</mat-sidenav-container>

<mat-sidenav opened position="end" mode="side" style="margin-top: 63px;">
 <br><br>   
 <div><button mat-icon-button matTooltip = "Calendar" ><mat-icon>calendar_today</mat-icon></button></div> 
 <br><br>
 <div><button mat-icon-button matTooltip = "Keep" ><mat-icon>note</mat-icon></button></div> 
 <br><br>
 <div><button mat-icon-button matTooltip = "Tasks" ><mat-icon>list_alt</mat-icon></button></div> 
 <br><br>
 <div><button mat-icon-button matTooltip = "Get add-ons" ><mat-icon>add</mat-icon></button></div> 
 <br><br>
</mat-sidenav>

<mat-menu #menu="matMenu">
    <button mat-menu-item>All</button>
    <button mat-menu-item>None</button>
    <button mat-menu-item>Read</button>
    <button mat-menu-item>Unread</button>
    <button mat-menu-item>Starred</button>
    <button mat-menu-item>Unstarred</button>
</mat-menu>

<mat-menu #menu2="matMenu">
    <button mat-menu-item>Mark All as Read</button>
    <button mat-menu-item disabled>Select Messages to see more action</button>
</mat-menu>

<mat-menu #menu3="matMenu">
    <button mat-menu-item>Display Density</button>
    <button mat-menu-item style="border-top: inset; border-width: 0.5px,0.5px,0.5px,0.5px; border-bottom: inset;">COnfigure Inbox</button>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Themes</button>
    <button mat-menu-item style="border-top: inset; border-width: 0.5px;">Send feedback</button>
    <button mat-menu-item>Help</button>
</mat-menu>