mat-sidenav-container {
    margin-top: 63px;
}

div.mr_scroll {
    resize: vertical;
    width: 260px;
    height: 200px;
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  ::ng-deep .mat-menu-panel {
    padding: 0 10px!important;
    width: 100%!important;
  }

  ::ng-deep .warning{
    background: 'yellow';
 }

 ::ng-deep.mat-tab-link,  ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 250px!important;
  padding: 2px;
}
