<a mat-button [routerLink]="['/gmail']" routerLinkActive="router-link-active" style="margin-left: 1050px; margin-top: 18px; ">Gmail</a>
<a mat-button href="https://www.google.co.in/imghp?hl=en&tab=wi&authuser=0&ogbl">images</a>
<button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>apps</mat-icon></button>
<button mat-icon-button><mat-icon>people_alt</mat-icon></button>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
		<div class="row google-logo text-center">
		<img [src]="url" alt="logo">	
			
		</div>
		<div class="row google-form text-center">
			<form #userForm = "ngForm">
			<div class="form-group">
            
            <input type="text" class="form-control google-search" name="q" required [(ngModel)]="search">

            <div class="btn-group">
                <button (click)="onSubmit(search)" class="btn btn-default" type="submit" >Search</button>  
                <a type="button" href="https://www.google.com/doodles" class="btn btn-default">I'm Feeling Lucky</a>
            </div>
            </div>
            </form>		
        </div>		


        <span>Google offered in:<a href=""style="padding: 5px;"> हिन्दी </a><a href="" style="padding: 5px;"> বাংলা </a><a style="padding: 5px;"href=""> తెలుగు </a><a style="padding: 5px;" href=""> मराठी </a><a href="" style="padding: 5px;"> தமிழ் </a><a href="" style="padding: 5px;"> ગુજરાતી </a><a href="" style="padding: 5px;"> ಕನ್ನಡ </a><a href="" style="padding: 5px;"> മലയാളം </a><a href="" style="padding: 5px;"> ਪੰਜਾਬੀ </a></span>
        </div>
    </div>
</div>
<mat-toolbar style="margin-top: 100px; height: 38px; background-color: #d4d5d6;">
    <div mat-body>India</div>
</mat-toolbar >
<mat-toolbar style="margin-top: 0px; height: 42px; border-top: inset; border-width: 0.1px; border-bottom: inset; background-color: #d4d5d6;">
    <div><a mat-button href="">Advertising</a></div>
    <div><a mat-button href="">Business</a></div>
    <div><a mat-button href="">About</a></div>
    <div><a mat-button href="">How Search Works</a></div>
    <div><a mat-button href="" style="margin-left: 600px;" >Privacy</a></div>
    <div><a mat-button href="">Terms</a></div>
    <div><a mat-button href="">Settings</a></div>
</mat-toolbar>
<mat-menu #menu="matMenu">
    <ul>
        <button mat-button><mat-icon>people_alt</mat-icon></button><button mat-button><mat-icon>copyright</mat-icon></button><button mat-button>place<mat-icon></mat-icon></button>
        <button mat-button><mat-icon>live_tv</mat-icon></button><button mat-button><mat-icon>shop</mat-icon></button><button mat-button><mat-icon>pages</mat-icon></button>
        <button mat-button><mat-icon>mail</mat-icon></button><button mat-button><mat-icon>contacts</mat-icon></button><button mat-button><mat-icon>cloud</mat-icon></button>
        <button mat-button><mat-icon>today</mat-icon></button><button mat-button><mat-icon>g_translate</mat-icon></button><button mat-button><mat-icon>photo</mat-icon></button>
        <button mat-button><mat-icon>local_offer</mat-icon></button><button mat-button><mat-icon>voice_chat</mat-icon></button>
    </ul>
</mat-menu>